.layout {
    background-color: aqua;
    width: 100;
    color: #211138;
    background-color: #f4f3f5;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 80px;
    background-color: #6200ea;
}

.navigation__link-container {
    float: left;
    padding-top: 2.3rem;
    margin-left: 10px;
}

.navigation__link {

    vertical-align: middle;
    padding-bottom: 1rem;
    /* [1] */
    border-bottom: 4px solid;
    /* [2] */
    border-color: transparent;
    /* [2] */
    margin-left: 1.571rem;
    color: #f4f3f5;
    opacity: 0.65;
    font-size: 0.857rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.171rem;
    display: inline-block;
    text-align: center;
}

a.navigation__link:first-child {
    margin-left: 0;
}

h2,
h6,
p {
    margin: 0;
}

h2,
h6 {
    margin-bottom: 1.071rem;
}

h2 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    border: 2px solid;
    border-radius: 1.5rem;
    text-align: center;
}

.button--primary-solid {
    border: 0;
    background-color: #6200ea;
    color: #ffffff;
    margin-left: -80px;
    margin-top: 40px;
}

.container {
    padding-top: 10px;
    padding-left: 3px;
    padding-bottom: 2px;
    border: 2px solid #6200ea;
    background-color: blanchedalmond;
}

.main {
    float: left;

}

form input {
    margin: 10px;

}

textarea {
    resize: none;
    margin: 1px 10px -10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
